.top-body{
    background-color: black;
    height: 80px;
}
.top-body a{
    transition: font-size 0.3s;

}

.top-body a:hover{
    font-size: 50px;
}
.social-link{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-link h1{
    width: 60px;
    padding: 0;
    margin: 0;
}
.fb:hover{
    color: #1773E9 !important;
}
.linkedin:hover{
    color: #0073B1 !important;
}
.mail:hover{
    color: #E34133 !important;
}